<fieldset>
    <!-- DATE -->
    <div class='form-group'>
        <label for='date' style='color:#000000; font-size:15px'>Date</label><br>
        <input class='form-control' id='description' type='date' style=' color:#000000; font-size:15px; font-family:trajan' name='date' value='{{ mood.date }}'/>
    </div>

    <!--CITY-->
    <div class='form-group'>
        <label for='description' style='color:#000000; font-size:15px'>City</label><br>
        <input class='form-control' id='description' type='text' style='color:#000000; font-size:15px;' name='city' value='{{ mood.city }}' />
    </div>

    <!-- WEATHER THAT DAY-->
    <div class='form-group'>
        <label for='description' style='color:#000000; font-size:15px'>Weather that Day</label><br>
        <input class='form-control' id='description' type='text' style='color:#000000; font-size:15px' name='weather' value='{{ mood.weather }}' />
    </div>

    <!-- MOOD-->
    <div class='form-group'>
        <label for='description' style='color:#000000; font-size:15px'>Mood</label><br>
        <input class='form-control' id='description' type='text' style='color:#000000; font-size:15px;' name='mood' value='{{ mood.mood }}' />
    </div>
</fieldset>